.bt-enter {
  background-color: #fff;
  font-size: 15px;
  padding: 0 30px 0 30px;
  border-radius: 5px;
  width: 100%;
  height: 25px;
  &:hover {
    background-color: #ada9eb;
    color: #fff;
  }
}
