html,
body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
