body {
  background-color: #1e1e1e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}
.body-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}
.center {
  background-color: #fff;
  color: #000;
  padding: 0 20px 10px 20px;
  margin: 0 20px 10px 20px;
}
.box-border {
  border-radius: 10px;
}
.box-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h1-center {
  text-align: center;
}
.error {
  color: red;
}
