* {
    box-sizing: border-box;
}
body {
    background: #0f172a;
    font-family: 'Segoe UI', Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.body-center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.center {
    background: #1c355d;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.h1-center {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    position: relative;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    display: block;
    transition: 0.2s;
}

input:focus {
    border-color: #6366f1;
    box-shadow: 0 0 5px rgba(99, 102, 241, 0.4);
}

.bt-enter {
    background: #6366f1;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.bt-enter:hover {
    opacity: 0.9;
    background: #4f46e5;
}

.link-a {
    text-decoration: none;
    color: #a9afeb;
    font-size: 14px;
    transition: 0.2s;
}

.link-a:hover {
    text-decoration: underline;
}

.error {
    color: #e63946;
    text-align: center;
    margin-bottom: 10px;
}

.box-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.password-box {
    position: relative;
}

.password-box input {
    width: 100%;
    padding-right: 40px;
}
.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
